<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>See Food Diet</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container my-2">
		<div sec:authorize="isAuthenticated()" align="center">
			<table>
				<tbody>
					<tr th:each="comment : ${listComments/{recipe_id}}">
						<td th:text="${comment.comment}"></td>
					</tr>
				</tbody>
			</table>

		</div></body>
</html>