<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Recipe</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<meta charset="UTF-8">
</head>
<body>
	<div class="container">
		<h1>See Food Diet</h1>
		<hr>
		<h2>New Recipe</h2>

		<form action="#" th:action="@{/saveRecipe}" th:object="${recipe}"
			method="POST">
			<input type="text" th:field="*{name}"
				placeholder="Recipe Name" class="form-control mb-4 col-4">

			<input type="text" th:field="*{ingredients}"
				placeholder="Recipe Ingredients" class="form-control mb-4 col-4">

			<input type="text" th:field="*{steps}" placeholder="Recipe Steps"
				class="form-control mb-4 col-4">
				
			<input type="text" th:field="*{category}" placeholder="Category"
			class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Save Recipe</button>
		</form>
		<hr>

		<a th:href="@{/}"> Return to Recipes List</a>
	</div>
</body>
</html>