<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Successful Registration</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>

	<div class="container" align="center" >
		<div>
			<h3>You have successfully registered!</h3>
			
			<a th:href ="@{/login}" class="btn btn-primary btn-sm mb-3">Login here</a>
		</div>
	</div>
</body>
</html>