<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Recipe</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
        <h1>See Food Diet</h1>
        <hr>
        <h2>Update Recipe</h2>

        <form action="#" th:action="@{/saveRecipe}" th:object="${recipe}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{ingredients}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{steps}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{category}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Update Recipe</button>
        </form>

        <hr>

        <a th:href="@{/}"> Back to See Food Recipe List</a>
    </div>	
</body>
</html>