<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>See Food Diet</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container my-2">
		<div sec:authorize="isAuthenticated()" align = "center">
		Welcome <b><span sec:authentication="name">Username</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
		
		<form th:action="@{/logout}" method="post" align="center">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
		<h1>See Food Diet Recipes</h1>
		<a sec:authorize="!isAuthenticated()" th:href ="@{/register}" class="btn btn-primary btn-sm mb-3">Register Here</a>
		
		<a sec:authorize="!isAuthenticated()" th:href ="@{/login}" class="btn btn-primary btn-sm mb-3">Login here</a>
		
		<a sec:authorize="hasAuthority('ADMIN')" th:href ="@{/users}" class="btn btn-primary btn-sm mb-3">List of Users</a>
		<!-- Note that below the link actions Thymeleaf request showNewRecipeForm from Recipe Controller class. --> 
		<a sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:href ="@{/showNewRecipeForm}" class="btn btn-primary btn-sm mb-3">Create New Recipe</a>
		<!-- Below is button for the sake of listing a User's list of favourite recipes but not yet doing anything. --> 
		<a sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:href ="@{/listUserFavourites}" class="btn btn-primary btn-sm mb-3">Favourites for <b><span sec:authentication="name"></span></b> </a>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Recipe Name</th>
					<th>Recipe Ingredients</th>
					<th>Recipe Steps</th>
					<th>Recipe Category</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="recipe : ${listRecipes}">
					<td th:text="${recipe.name}"></td>
					<td th:text="${recipe.ingredients}"></td>
					<td th:text="${recipe.steps}"></td>
					<td th:text="${recipe.category}"></td>
					<td sec:authorize="hasAuthority('ADMIN')"> 
						<a th:href="@{/showFormForUpdate/{id}(id=${recipe.id})}" class="btn btn-primary" style="margin:5px;">Update</a>
						<a th:href="@{/deleteRecipe/{id}(id=${recipe.id})}" class="btn btn-danger" style="margin:5px;">Delete</a>
					</td>
					<td sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
						<!-- Below buttons currently do nothing but have to be actioned.  -->
						<a th:href="@{/listRecipeComments/{id}(id=${recipe.id})}" class="btn btn-primary" style="margin:5px;">View Recipe Comments</a>
						<a th:href="@{/saveNewRecipeComment/{id}(id=${recipe.id})}" class="btn btn-primary" style="margin:5px;">Add Recipe Comment</a>
						<a th:href="@{/saveAsUserFavourite/{id}(id=${recipe.id})}" class="btn btn-primary" style="margin:5px;">Add to Favourites</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>